# 自动检测文本文件
 text=auto

# 明确文本文件类型
.java text
.kt text
.xml text
.gradle text
.properties text
.pro text
.gitignore text
.md text

# 脚本文件保持 LF 格式
gradlew text eol=lf
.sh text eol=lf

# 二进制文件不转换
.png binary
.jpg binary
.jpeg binary
.gif binary
.ico binary
.jar binary
.keystore binary

# IDE 文件
.idea text


# Android 特定文件
*.keystore binary
*.aar binary

# 目录规则
scg_ecg_test/app/src/main/assets/* binary
scg_ecg_test/app/src/main/res/* binary